<section class="account-page section-padding">
  <div class="page-width">
    <div class="account-form">
      <h1 class="account-form__title">Reset Password</h1>
      <p class="account-form__subtitle">Enter your new password below.</p>

      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="form-field">
          <label for="ResetPassword" class="form-label">New Password</label>
          <input type="password" name="customer[password]" id="ResetPassword" class="form-input" autocomplete="new-password" required>
        </div>

        <div class="form-field">
          <label for="ResetPasswordConfirm" class="form-label">Confirm Password</label>
          <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirm" class="form-input" autocomplete="new-password" required>
        </div>

        <button type="submit" class="btn btn--primary btn--large account-form__submit">Reset Password</button>
      {% endform %}
    </div>
  </div>
</section>
